<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <hgroup>
        <h1>Erro</h1>
        <h2>Ocorreu um erro e sua requisição não foi executada. Geramos uma registro dessa ocorrência e já está em análise.</h2>
    </hgroup>
</body>
</html>