@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro";
}

<h1 class="text-danger">Erro</h1>
<h2 class="text-danger">Ocorreu um erro e sua requisição não foi executada. Geramos uma registro dessa ocorrência e já está em análise.</h2>